<link rel="stylesheet" href="css/login/style.css">
<div ng-init="init()">
    <div class="col-md-12">
        <div class="divPrincipal col-md-6">
            <div class="middle-box">
                <div style="border-bottom: 0.5px solid #62A3EB; width: 100%;">
                    <img class="logo-name imglogo" src="../../img/header/logoCompleto.png" alt="No se encontro la imagen"> 
                </div>
                <div style="text-align: center;">
                    <img style="width: 8%;" src="../../img/iconos/alerta@2x.png" alt="No se encontro la imagen"/> 
                    <label style="font-size: 20px; margin-top: 10px; color: #62A3EB"> Operación Inválida </label>
                    <br>
                    <a class="btn btn-go" href="{{urlReturn}}">
                        Accede desde el panel de aplicaciones
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>